@charset "UTF-8";

.productFeature .star span {
    color: #939393;
    font-size: 12px;
    font-family: 'ProximaNova-Bold';
}

.yOku {
    float: left;
    font-size: 11px;
    color: #36312E;
    font-family: 'ProximaNova-Bold';
    margin-top: 5px;
    margin-left: 10px;
}

h1.productName {
    border: none;
    padding: 0;
    font-size: 28px;
    text-align: left;
    text-transform: none;
    color: #36312E;
    float: left;
    font-family: 'ProximaNova-Sbold';
    margin: 15px 0 30px;
}

.productOptionSelector {
    float: left;
    margin-top: 20px;
}

.selectGroup {
    float: left;
    margin-bottom: 12px;
    position: relative;
    /*margin-top: 35px;*/
}

.selectGroup span {
    height: 41px;
    width: 220px;
    padding: 0 10px;
    line-height: 37px;
    background: url(../img/down.png) 97% no-repeat #FAFAFA;
    border-radius: 5px;
    border: 2px solid #E5E5E5;
    font-size: 14px;
    color: #727171;
    float: left;
    cursor: pointer;
}

.selectGroup select {
    height: 41px;
    width: 220px;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.bpG {
    float: left;
}

.bgGroup {
    width: 78px;
    height: 40px;
    float: left;
    background: #FFF;
    border: 2px solid #DADADA;
    margin-right: 10px;
}

.bgGroup.active {
    border: 2px solid #36312E;
}

.bgGroup .boyut {
    color: #8A8A8A;
    font-size: 14px;
    font-family: 'ProximaNova-Sbold';
    width: 100%;
    float: left;
    line-height:30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding:4px;
}

.bPrice {
    color: #383838;
    font-size: 15px;
    font-family: 'ProximaNova-Sbold';
    width: 100%;
    float: left;
    text-align: center;
    margin-top: -2px;
}

.productDetailPrice {
    float: left;
    margin: 30px 0;
}

.indirim {
    float: left;
    width: 68px;
    height: 68px;
    background: #F06892;
    margin-right: 32px;
}

.iSpan1 {
    font-family: 'ProximaNova-Bold';
    font-size: 23px;
    color: #FFF;
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 10px;
}

.iSpan2 {
    font-family: 'ProximaNova-Ebold';
    font-size: 11px;
    color: #FFF;
    width: 100%;
    text-align: center;
    float: left;
    margin-top: -5px;
}

.rightPrice {
    float: left;
}

.rightPriceOld {
    font-size: 17px;
    color: #A9A9A9;
    font-family: 'ProximaNova-Sbold';
    float: left;
    text-decoration: line-through;
}

.rightPriceNew {
    clear: both;
    font-size: 41px;
    float: left;
    color: #36312E;
    font-family: 'ProximaNova-Bold';
    line-height: 40px;
}

.rightPriceNew span {
    font-size: 25px;
    margin-left: -7px
}

.installment {
    clear: both;
    float: left;
    color: #5E5A57;
    font-size: 15px;
}

.installment span {
    font-family: 'ProximaNova-Bold';
}

.piece {
    clear: both;
    float: left;
    width: 111px;
    height: 45px;
    border: 2px solid #DADADA;
    border-radius: 5px;
}

.piece a {
    color: #B6B6B6;
    font-size: 22px;
    float: left;
    width: 33px;
    text-align: center;
    font-family: 'ProximaNova-Bold';
    margin-top: 5px;
}

.piece div {
    float: left;
}

.piece div input {
    border: 0;
    clear: both;
    color: #161616;
    font-size: 23px;
    font-family: 'ProximaNova-Sbold';
    float: left;
    text-align: center;
    width: 37px;
}

.piece div label {
    clear: both;
    color: #9E9E9E;
    font-size: 11px;
    font-family: 'ProximaNova-Sbold';
    float: left;
    width: 100%;
    text-align: center;
    margin-top: -5px;
    text-indent: 2px;
}

.gotoBasket {
    float: left;
    width: 223px;
    height: 59px;
    background: #F06892;
    margin-top: 7px;
    border-radius: 5px;
}

.gotoBasketImg {
    width: 29px;
    height: 24px;
    float: left;
    background: url(../img/sepet.png) no-repeat;
    margin-left: 20px;
    margin-top: 17px;
}

.gotoBasketText {
    float: left;
    color: #FFF;
    font-family: 'ProximaNova-Sbold';
    font-size: 22px;
    margin-top: 15px;
    margin-left: 10px;
}

.warning {
    font-size: 17px;
    clear: both;
    float: left;
    color: #727171;
    margin-top: 10px;
    margin-bottom: 20px;
}

.nav-tabs {
    float: left;
    width: 100%;
    border-bottom: 2px solid #AAB6C4;
}

.nav-tabs li {
    float: left;
    height: 42px;
    padding: 0 12px;
}

.nav-tabs li a {
    font-size: 15px;
    float: left;
    color: #36312E;
    height: 100%;
    width: 100%;
    font-family: 'ProximaNova-Bold';
    line-height: 42px;
}

.nav-tabs li.active {
    background: #53667B;
}

.nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:active, .nav-tabs li.active a:focus {
    color: #FFF;
    border: 0;
    background: inherit;
    padding: 0;
}

.nav-tabs li a, .nav-tabs li a:hover, .nav-tabs li a:active, .nav-tabs li a:focus {
    border: 0;
    background: inherit;
    padding: 0;
}

.tab-content {
    color: #53667B;
    float: left;
    width: 100%;
    font-size: 17px;
}

@media only screen and (max-width: 1199px) {
    .owlCarouselImgBot .item img {
        width: 100%;
    }

    .owlCarouselImgBot .owl-controls {
        width: 65px;
    }
}

@media only screen and (max-width: 767px) {
    .tabMenu li {
        width: 100%;
    }

    .owlCarouselImgBot .owl-controls {
        width: 100%;
        top: 54px;
    }

    .owl-dot img {
        margin-right: 15px;
    }

    .imgArea .carouselContainer {
        margin-top: 20px;
    }

    .owlCarouselImgBot .item img {
        width: 100%;
        height: auto;
    }

    .owlCarouselImgBot .item {
        width: 130px;
    }

    .owlCarouselImgBot {

    }

    .owlCarouselImgBot .owl-stage-outer {
        max-width: 274px;
        margin: 0px auto;
    }

    .owlCarouselImgBot .owl-stage-outer {
        max-width: 268px;
        margin: 0px auto;
    }

    .owlCarouselImgBot .owl-prev {
        left: -28px;
    }

    .owlCarouselImgBot .owl-next {
        right: -28px;
    }

    .owlCarouselImgBot .owl-prev span {
        font-size: 13px;
        margin-top: -6px;
        margin-left: 17px;
    }

    .owlCarouselImgBot .owl-next span {
        font-size: 13px;
        margin-top: -6px;
        margin-left: 10px;
    }

    .owlCarouselImgBot .owl-prev, .owlCarouselImgBot .owl-next {
        width: 40px !important;
        height: 40px !important;
    }
}

/**/
